# Import dependencies

In [8]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import scipy.stats as st

# Merari --> Importing sqlalchemy dependencies
import sqlalchemy
from sqlalchemy.ext.automap import automap_base
from sqlalchemy.orm import Session
from sqlalchemy import create_engine , inspect

# Load data

## From OECD Meat consumption per capita by country

In [2]:
meat_csv_path = 'Resources/meatconsumption.csv'
meat_df = pd.read_csv(meat_csv_path)
meat_df.columns = meat_df.columns.map(str.lower).map(str.capitalize)
meat_df.head(1)

  Location    Indicator Subject Measure Frequency  Time  Value  Flag codes
0      AUS  MEATCONSUMP    BEEF  KG_CAP         A  1990    0.0         NaN

### Make dictionary of OECD Country codes definitions

In [3]:
oecd_cc_csv_path = 'Resources/OECDCountryCodes.csv'
cc_df = pd.read_csv(oecd_cc_csv_path).set_index('CODE')
cc_dict = cc_df.to_dict()['Country']
cc_dict

{'ABW': 'Aruba',
 'AFG': 'Afghanistan',
 'AFRI': 'Africa',
 'AGO': 'Angola',
 'AIA': 'Anguilla',
 'ALB': 'Albania',
 'AND': 'Andorra',
 'ANT': 'Netherlands Antilles',
 'ARE': 'United Arab Emirates',
 'ARG': 'Argentina',
 'ASIA': 'Asia',
 'ASM': 'American Samoa',
 'ATG': 'Antigua and Barbuda',
 'AUS': 'Australia',
 'AUT': 'Austria',
 'BDI': 'Burundi',
 'BEL': 'Belgium',
 'BEN': 'Benin',
 'BFA': 'Burkina Faso',
 'BGD': 'Bangladesh',
 'BGR': 'Bulgaria',
 'BHR': 'Bahrain',
 'BHS': 'Bahamas',
 'BLZ': 'Belize',
 'BMU': 'Bermuda',
 'BOL': 'Bolivia',
 'BRA': 'Brazil',
 'BRB': 'Barbados',
 'BRN': 'Brunei Darussalam',
 'BTN': 'Bhutan',
 'BWA': 'Botswana',
 'CAF': 'Central African Republic',
 'CAN': 'Canada',
 'CCK': 'Cocos (Keeling) Islands',
 'CHE': 'Switzerland',
 'CHL': 'Chile',
 'CHN': 'China',
 'CIV': "CÃ´te d'Ivoire",
 'CMR': 'Cameroon',
 'COD': 'Congo, Dem. Rep. Of',
 'COG': 'Congo',
 'COK': 'Cook Islands',
 'COL': 'Colombia',
 'COM': 'Comoros',
 'CPV': 'Cape Verde',
 'CRI': 'Costa Rica',
 'CSFR': 'Former Czechoslovakia',
 'CSFR-CZE': 'Czech Republic',
 'CSFR-SVK': 'Slovak Republic',
 'CUB': 'Cuba',
 'CYM': 'Cayman Islands',
 'CYP': 'Cyprus',
 'DEU': 'Germany',
 'DJI': 'Djibouti',
 'DMA': 'Dominica',
 'DNK': 'Denmark',
 'DOM': 'Dominican Republic',
 'DZA': 'Algeria',
 'ECU': 'Ecuador',
 'EGY': 'Egypt',
 'ERI': 'Eritrea',
 'ESH': 'Western Sahara',
 'ESP': 'Spain',
 'ETH': 'Ethiopia',
 'EURO': 'Europe',
 'FIN': 'Finland',
 'FJI': 'Fiji',
 'FLK': 'Falkland Islands',
 'FRA': 'France',
 'FSM': 'Micronesia, Federated states of',
 'FYUG': 'Former Yugoslavia',
 'FYUG-BIH': 'Bosnia-Herzegovina',
 'FYUG-HRV': 'Croatia',
 'FYUG-MKD': 'Macedonia',
 'FYUG-SVN': 'Slovenia',
 'FYUG-YUG': 'Serbia and Montenegro',
 'GAB': 'Gabon',
 'GBR': 'United Kingdom',
 'GHA': 'Ghana',
 'GIB': 'Gibraltar',
 'GIN': 'Guinea',
 'GMB': 'Gambia',
 'GNB': 'Guinea-Bissau',
 'GNQ': 'Equatorial Guinea',
 'GRC': 'Greece',
 'GRD': 'Grenada',
 'GTM': 'Guatemala',
 'GUM': 'Guam',
 'GUY': 'Guyana',
 'HKG': 'Hong Kong',
 'HND': 'Honduras',
 'HTI': 'Haiti',
 'HUN': 'Hungary',
 'IDN': 'Indonesia',
 'IND': 'India',
 'IOT': 'British Indian Ocean Territory',
 'IRL': 'Ireland',
 'IRN': 'Iran',
 'IRQ': 'Iraq',
 'ISL': 'Iceland',
 'ISR': 'Israel',
 'ITA': 'Italy',
 'JAM': 'Jamaica',
 'JOR': 'Jordan',
 'JPN': 'Japan',
 'KEN': 'Kenya',
 'KHM': 'Cambodia',
 'KIR': 'Kiribati',
 'KNA': 'Saint Kitts and Nevis',
 'KOREA-NO': 'North Korea',
 'KOREA-NS': 'South Korea',
 'KOREA-SO': 'North and South Korea',
 'KWT': 'Kuwait',
 'LAO': 'Laos',
 'LBN': 'Lebanon',
 'LBR': 'Liberia',
 'LBY': 'Libya',
 'LCA': 'Saint Lucia',
 'LIE': 'Liechtenstein',
 'LKA': 'Sri Lanka',
 'LSO': 'Lesotho',
 'LUX': 'Luxembourg',
 'MAC': 'Macau',
 'MAR': 'Morocco',
 'MCO': 'Monaco',
 'MDG': 'Madagascar',
 'MDV': 'Maldives',
 'MEX': 'Mexico',
 'MHL': 'Marshall Islands',
 'MLI': 'Mali',
 'MLT': 'Malta',
 'MMR': 'Myanmar',
 'MNG': 'Mongolia',
 'MNP': 'Northern Mariana Islands',
 'MOZ': 'Mozambique',
 'MRT': 'Mauritania',
 'MSR': 'Montserrat',
 'MUS': 'Mauritius',
 'MWI': 'Malawi',
 'MYS': 'Malaysia',
 'NAM': 'Namibia',
 'NER': 'Niger',
 'NFK': 'Norfolk Islands',
 'NGA': 'Nigeria',
 'NIC': 'Nicaragua',
 'NIU': 'Niue',
 'NLD': 'Netherlands',
 'NOAM': 'North America',
 'NOR': 'Norway',
 'NPL': 'Nepal',
 'NRU': 'Nauru',
 'NZL': 'New Zealand',
 'OCEA': 'Oceania',
 'OMN': 'Oman',
 'OTH': 'Other',
 'PAK': 'Pakistan',
 'PAN': 'Panama',
 'PCN': 'Pitcairn',
 'PER': 'Peru',
 'PHL': 'Philippines',
 'PLW': 'Pacific Islands (Palau)',
 'PNG': 'Papua New Guinea',
 'POL': 'Poland',
 'PRI': 'Puerto Rico',
 'PRT': 'Portugal',
 'PRY': 'Paraguay',
 'PSE': 'Occupied Palestinian Territory',
 'QAT': 'Qatar',
 'ROU': 'Romania',
 'RWA': 'Rwanda',
 'SAU': 'Saudi Arabia',
 'SCAC': 'South and Central America',
 'SDN': 'Sudan',
 'SEN': 'Senegal',
 'SGP': 'Singapore',
 'SHN': 'Saint Helena',
 'SJM': 'Svalbard and Jan Mayen Islands',
 'SLB': 'Solomon Islands',
 'SLE': 'Sierra Leone',
 'SLV': 'El Salvador',
 'SMR': 'San Marino',
 'SOM': 'Somalia',
 'STP': 'Sao Tome and Principe',
 'SUR': 'Suriname',
 'SWE': 'Sweden',
 'SWZ': 'Swaziland',
 'SYC': 'Seychelles',
 'SYR': 'Syria',
 'TCA': 'Turks and Caicos Islands',
 'TCD': 'Chad',
 'TGO': 'Togo',
 'THA': 'Thailand',
 'TKL': 'Tokelau',
 'TLS': 'Timor-Leste',
 'TMP': 'East Timor',
 'TON': 'Tonga',
 'TTO': 'Trinidad and Tobago',
 'TUN': 'Tunisia',
 'TUR': 'Turkey',
 'TUV': 'Tuvalu',
 'TWN': 'Chinese Taipei',
 'TZA': 'United Republic of Tanzania',
 'UGA': 'Unknown',
 'UNK': 'Unknown',
 'URY': 'Uruguay',
 'USA': 'United States',
 'USSR': 'Former USSR',
 'USSR-ARM': 'Armenia',
 'USSR-AZE': 'Azerbaidjan',
 'USSR-BLR': 'Belarus',
 'USSR-EST': 'Estonia',
 'USSR-GEO': 'Georgia',
 'USSR-KAZ': 'Kazakhstan',
 'USSR-KGZ': 'Kirghizistan',
 'USSR-LTU': 'Lithuania',
 'USSR-LVA': 'Latvia',
 'USSR-MDA': 'Moldova',
 'USSR-RUS': 'Russia',
 'USSR-TJK': 'Tadjikistan',
 'USSR-TKM': 'TurkmÃ©nistan',
 'USSR-UKR': 'Ukraine',
 'USSR-UZB': 'Uzbekistan',
 'VCT': 'Saint Vincent and the Grenadines',
 'VEN': 'Venezuela',
 'VGB': 'British Virgin Islands',
 'VIR': 'United States Virgin Islands',
 'VNM': 'Vietnam',
 'VUT': 'Vanuatu',
 'WSM': 'Samoa',
 'YEM': 'Yemen',
 'ZAF': 'South Africa',
 'ZMB': 'Zambia',
 'ZWE': 'Zimbabwe'}

## From CDC Mortality indicators by Unintentional Poisoning

In [4]:
mortalitiy_csv_path = 'Resources/MortalityByUnintentionalPoisoning.csv'
mortality_df = pd.read_csv(mortalitiy_csv_path)
mortality_df.head(1)

,Indicator,Year,Geography,Sex,AgeGroup,Location,Value,Unit,Source,DataType
0,Mortality rate from unintentional poisoning (p...,2000,Afghanistan,Male,Not Available,Not Available,1.21,"Rate (per 100,000 population)",Global Health Observatory,NaN

# Transform and Merge Dataframes

## Trim extraneous columns

In [5]:
mortality_df.head(1)

,Indicator,Year,Geography,Sex,AgeGroup,Location,Value,Unit,Source,DataType
0,Mortality rate from unintentional poisoning (p...,2000,Afghanistan,Male,Not Available,Not Available,1.21,"Rate (per 100,000 population)",Global Health Observatory,NaN

In [6]:
meat_df.head(1)

  Location    Indicator Subject Measure Frequency  Time  Value  Flag codes
0      AUS  MEATCONSUMP    BEEF  KG_CAP         A  1990    0.0         NaN

In [7]:
meat_df = meat_df[meat_df['Measure'] != 'THND_TONNE']
meat_df.drop(['Indicator','Flag codes','Frequency', 'Measure'], axis=1, inplace = True)
meat_df.head(1)

  Location Subject  Time  Value
0      AUS    BEEF  1990    0.0

In [8]:
mortality_df=mortality_df.drop(['Indicator','AgeGroup','DataType', 'Location', 'Unit', 'Source', 'DataType'], axis=1)

## Rename columns to align Dataframes

### Align values of Countrys and Country Codes

In [9]:
meat_df.columns

Index(['Location', 'Subject', 'Time', 'Value'], dtype='object')

In [10]:
mortality_df.columns

Index(['Year', 'Geography', 'Sex', 'Value'], dtype='object')

In [11]:
meat_df['Location'].replace(cc_dict, inplace = True)

In [12]:
meat_df.rename(columns={"Time":"Year", "Subject":"Meat Type", "Value":"Kg Per Capita"}, inplace = True)

In [13]:
mortality_df.rename(columns={"Geography":"Location", "Value": "Mortality Rate (Per 100k Capita)"}, inplace = True)

## Merge Dataframes to make Complete Dataset

In [14]:
merge_df = pd.merge(meat_df, mortality_df, on= ['Year','Location'])

In [15]:
merge_df.head(1)

,Location,Meat Type,Year,Kg Per Capita,Sex,Mortality Rate (Per 100k Capita)
0,Australia,BEEF,2000,26.515,Male,0.28

In [16]:
merge_df["Location"].value_counts()

Paraguay        384
Brazil          384
Nigeria         384
Switzerland     384
Norway          384
Japan           384
Thailand        384
Israel          384
Egypt           384
Malaysia        384
Indonesia       384
Ethiopia        384
Argentina       384
Mexico          384
Turkey          384
Saudi Arabia    384
Colombia        384
Canada          384
South Africa    384
Chile           384
Australia       384
Pakistan        384
India           384
China           384
New Zealand     384
Peru            384
Philippines     384
Name: Location, dtype: int64

# Load
Connect to "Project2" DB and insert merge_df into the "Meat_Mortality" Schema

In [30]:
# Importing the password from ref.py
from ref import Pword

# Creating engine to Postgres sql database
engine = create_engine(f"postgresql://postgres:{Pword}@localhost:5432/Project2")

# Creating inspector
inspector = inspect(engine)

inspector.get_table_names()

['Meat_Mortality']

In [31]:
# Declaring base
Base = automap_base()

# Reflect DB table
Base.prepare(engine , reflect = True)

# printing out all tables in DB
Base.classes.keys()

# Referencing "Meat_Mortality"
meat_table = Base.classes.Meat_Mortality

In [32]:
# Creating session
session = Session(engine)

In [ ]:
# Closing the session
session.close()