In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import scipy.stats as st

In [2]:
csv_path = 'Resources/meatconsumption.csv'
meat_df = pd.read_csv(csv_path)
meat_df.head()

  LOCATION    INDICATOR SUBJECT MEASURE FREQUENCY  TIME   Value  Flag Codes
0      AUS  MEATCONSUMP    BEEF  KG_CAP         A  1990   0.000         NaN
1      AUS  MEATCONSUMP    BEEF  KG_CAP         A  1991  27.942         NaN
2      AUS  MEATCONSUMP    BEEF  KG_CAP         A  1992  26.405         NaN
3      AUS  MEATCONSUMP    BEEF  KG_CAP         A  1993  26.370         NaN
4      AUS  MEATCONSUMP    BEEF  KG_CAP         A  1994  25.662         NaN

In [3]:
print(meat_df.count())

LOCATION      12160
INDICATOR     12160
SUBJECT       12160
MEASURE       12160
FREQUENCY     12160
TIME          12160
Value         12160
Flag Codes        0
dtype: int64

In [6]:
meat_df.sort_values(by=['LOCATION','SUBJECT','TIME'])

,LOCATION,INDICATOR,SUBJECT,MEASURE,FREQUENCY,TIME,Value,Flag Codes
1280,ARG,MEATCONSUMP,BEEF,KG_CAP,A,1990,55.559,NaN
7920,ARG,MEATCONSUMP,BEEF,THND_TONNE,A,1990,2588.922,NaN
1281,ARG,MEATCONSUMP,BEEF,KG_CAP,A,1991,51.817,NaN
7921,ARG,MEATCONSUMP,BEEF,THND_TONNE,A,1991,2448.667,NaN
1282,ARG,MEATCONSUMP,BEEF,KG_CAP,A,1992,50.980,NaN
...,...,...,...,...,...,...,...,...
5677,ZAF,MEATCONSUMP,SHEEP,THND_TONNE,A,2027,182.702,NaN
4638,ZAF,MEATCONSUMP,SHEEP,KG_CAP,A,2028,2.554,NaN
5678,ZAF,MEATCONSUMP,SHEEP,THND_TONNE,A,2028,184.100,NaN
4639,ZAF,MEATCONSUMP,SHEEP,KG_CAP,A,2029,2.553,NaN
5679,ZAF,MEATCONSUMP,SHEEP,THND_TONNE,A,2029,185.526,NaN

In [7]:
meat_df = meat_df.sort_values(by=['LOCATION','SUBJECT','TIME'])
meat_df

,LOCATION,INDICATOR,SUBJECT,MEASURE,FREQUENCY,TIME,Value,Flag Codes
1280,ARG,MEATCONSUMP,BEEF,KG_CAP,A,1990,55.559,NaN
7920,ARG,MEATCONSUMP,BEEF,THND_TONNE,A,1990,2588.922,NaN
1281,ARG,MEATCONSUMP,BEEF,KG_CAP,A,1991,51.817,NaN
7921,ARG,MEATCONSUMP,BEEF,THND_TONNE,A,1991,2448.667,NaN
1282,ARG,MEATCONSUMP,BEEF,KG_CAP,A,1992,50.980,NaN
...,...,...,...,...,...,...,...,...
5677,ZAF,MEATCONSUMP,SHEEP,THND_TONNE,A,2027,182.702,NaN
4638,ZAF,MEATCONSUMP,SHEEP,KG_CAP,A,2028,2.554,NaN
5678,ZAF,MEATCONSUMP,SHEEP,THND_TONNE,A,2028,184.100,NaN
4639,ZAF,MEATCONSUMP,SHEEP,KG_CAP,A,2029,2.553,NaN
5679,ZAF,MEATCONSUMP,SHEEP,THND_TONNE,A,2029,185.526,NaN

In [8]:
meat_df.drop(['INDICATOR','Flag Codes','FREQUENCY'], axis=1)

     LOCATION SUBJECT     MEASURE  TIME     Value
1280      ARG    BEEF      KG_CAP  1990    55.559
7920      ARG    BEEF  THND_TONNE  1990  2588.922
1281      ARG    BEEF      KG_CAP  1991    51.817
7921      ARG    BEEF  THND_TONNE  1991  2448.667
1282      ARG    BEEF      KG_CAP  1992    50.980
...       ...     ...         ...   ...       ...
5677      ZAF   SHEEP  THND_TONNE  2027   182.702
4638      ZAF   SHEEP      KG_CAP  2028     2.554
5678      ZAF   SHEEP  THND_TONNE  2028   184.100
4639      ZAF   SHEEP      KG_CAP  2029     2.553
5679      ZAF   SHEEP  THND_TONNE  2029   185.526

[12160 rows x 5 columns]

In [9]:

meat_df=meat_df.drop(['INDICATOR','Flag Codes','FREQUENCY'], axis=1)

In [10]:
meat_df

     LOCATION SUBJECT     MEASURE  TIME     Value
1280      ARG    BEEF      KG_CAP  1990    55.559
7920      ARG    BEEF  THND_TONNE  1990  2588.922
1281      ARG    BEEF      KG_CAP  1991    51.817
7921      ARG    BEEF  THND_TONNE  1991  2448.667
1282      ARG    BEEF      KG_CAP  1992    50.980
...       ...     ...         ...   ...       ...
5677      ZAF   SHEEP  THND_TONNE  2027   182.702
4638      ZAF   SHEEP      KG_CAP  2028     2.554
5678      ZAF   SHEEP  THND_TONNE  2028   184.100
4639      ZAF   SHEEP      KG_CAP  2029     2.553
5679      ZAF   SHEEP  THND_TONNE  2029   185.526

[12160 rows x 5 columns]

In [43]:
meat_df = meat_df.rename(columns={"TIME":"Year"})

In [44]:
meat_df

     LOCATION SUBJECT     MEASURE  Year     Value
1280      ARG    BEEF      KG_CAP  1990    55.559
7920      ARG    BEEF  THND_TONNE  1990  2588.922
1281      ARG    BEEF      KG_CAP  1991    51.817
7921      ARG    BEEF  THND_TONNE  1991  2448.667
1282      ARG    BEEF      KG_CAP  1992    50.980
...       ...     ...         ...   ...       ...
5677      ZAF   SHEEP  THND_TONNE  2027   182.702
4638      ZAF   SHEEP      KG_CAP  2028     2.554
5678      ZAF   SHEEP  THND_TONNE  2028   184.100
4639      ZAF   SHEEP      KG_CAP  2029     2.553
5679      ZAF   SHEEP  THND_TONNE  2029   185.526

[12160 rows x 5 columns]

In [11]:
csv_path = 'Resources/MortalityByUnintentionalPoisoning.csv'
mortality_df = pd.read_csv(csv_path)
mortality_df.head()

,Indicator,Year,Geography,Sex,AgeGroup,Location,Value,Unit,Source,DataType
0,Mortality rate from unintentional poisoning (p...,2000,Afghanistan,Male,Not Available,Not Available,1.21,"Rate (per 100,000 population)",Global Health Observatory,NaN
1,Mortality rate from unintentional poisoning (p...,2000,Afghanistan,Male,Not Available,Not Available,1.21,"Rate (per 100,000 population)",Global Health Observatory,NaN
2,Mortality rate from unintentional poisoning (p...,2000,Afghanistan,Male,Not Available,Not Available,1.21,"Rate (per 100,000 population)",Global Health Observatory,NaN
3,Mortality rate from unintentional poisoning (p...,2000,Afghanistan,Male,Not Available,Not Available,1.21,"Rate (per 100,000 population)",Global Health Observatory,NaN
4,Mortality rate from unintentional poisoning (p...,2000,Afghanistan,Male,Not Available,Not Available,1.21,"Rate (per 100,000 population)",Global Health Observatory,NaN

In [13]:
print(mortality_df.count())

Indicator    17568
Year         17568
Geography    17568
Sex          17568
AgeGroup     17568
Location     17568
Value        17568
Unit         17568
Source       17568
DataType         0
dtype: int64

In [14]:
mortality_df.sort_values(by=['Geography','Year'])

,Indicator,Year,Geography,Sex,AgeGroup,Location,Value,Unit,Source,DataType
0,Mortality rate from unintentional poisoning (p...,2000,Afghanistan,Male,Not Available,Not Available,1.21,"Rate (per 100,000 population)",Global Health Observatory,NaN
1,Mortality rate from unintentional poisoning (p...,2000,Afghanistan,Male,Not Available,Not Available,1.21,"Rate (per 100,000 population)",Global Health Observatory,NaN
2,Mortality rate from unintentional poisoning (p...,2000,Afghanistan,Male,Not Available,Not Available,1.21,"Rate (per 100,000 population)",Global Health Observatory,NaN
3,Mortality rate from unintentional poisoning (p...,2000,Afghanistan,Male,Not Available,Not Available,1.21,"Rate (per 100,000 population)",Global Health Observatory,NaN
4,Mortality rate from unintentional poisoning (p...,2000,Afghanistan,Male,Not Available,Not Available,1.21,"Rate (per 100,000 population)",Global Health Observatory,NaN
...,...,...,...,...,...,...,...,...,...,...
17563,Mortality rate from unintentional poisoning (p...,2015,Zimbabwe,Both Sexes,Not Available,Not Available,2.37,"Rate (per 100,000 population)",Global Health Observatory,NaN
17564,Mortality rate from unintentional poisoning (p...,2015,Zimbabwe,Both Sexes,Not Available,Not Available,2.37,"Rate (per 100,000 population)",Global Health Observatory,NaN
17565,Mortality rate from unintentional poisoning (p...,2015,Zimbabwe,Both Sexes,Not Available,Not Available,2.37,"Rate (per 100,000 population)",Global Health Observatory,NaN
17566,Mortality rate from unintentional poisoning (p...,2015,Zimbabwe,Both Sexes,Not Available,Not Available,2.37,"Rate (per 100,000 population)",Global Health Observatory,NaN
17567,Mortality rate from unintentional poisoning (p...,2015,Zimbabwe,Both Sexes,Not Available,Not Available,2.37,"Rate (per 100,000 population)",Global Health Observatory,NaN

In [15]:
mortality_df=mortality_df.drop(['AgeGroup','Location','DataType'], axis=1)

In [16]:
mortality_df

,Indicator,Year,Geography,Sex,Value,Unit,Source
0,Mortality rate from unintentional poisoning (p...,2000,Afghanistan,Male,1.21,"Rate (per 100,000 population)",Global Health Observatory
1,Mortality rate from unintentional poisoning (p...,2000,Afghanistan,Male,1.21,"Rate (per 100,000 population)",Global Health Observatory
2,Mortality rate from unintentional poisoning (p...,2000,Afghanistan,Male,1.21,"Rate (per 100,000 population)",Global Health Observatory
3,Mortality rate from unintentional poisoning (p...,2000,Afghanistan,Male,1.21,"Rate (per 100,000 population)",Global Health Observatory
4,Mortality rate from unintentional poisoning (p...,2000,Afghanistan,Male,1.21,"Rate (per 100,000 population)",Global Health Observatory
...,...,...,...,...,...,...,...
17563,Mortality rate from unintentional poisoning (p...,2015,Zimbabwe,Both Sexes,2.37,"Rate (per 100,000 population)",Global Health Observatory
17564,Mortality rate from unintentional poisoning (p...,2015,Zimbabwe,Both Sexes,2.37,"Rate (per 100,000 population)",Global Health Observatory
17565,Mortality rate from unintentional poisoning (p...,2015,Zimbabwe,Both Sexes,2.37,"Rate (per 100,000 population)",Global Health Observatory
17566,Mortality rate from unintentional poisoning (p...,2015,Zimbabwe,Both Sexes,2.37,"Rate (per 100,000 population)",Global Health Observatory
17567,Mortality rate from unintentional poisoning (p...,2015,Zimbabwe,Both Sexes,2.37,"Rate (per 100,000 population)",Global Health Observatory

In [46]:
merge_df = pd.merge(meat_df, mortality_df, on= 'Year', how ="inner")

In [47]:
merge_df

,LOCATION,SUBJECT,MEASURE,Year,Value_x,Indicator,Geography,Sex,Value_y,Unit,Source
0,ARG,BEEF,KG_CAP,2000,45.282,Mortality rate from unintentional poisoning (p...,Afghanistan,Male,1.21,"Rate (per 100,000 population)",Global Health Observatory
1,ARG,BEEF,KG_CAP,2000,45.282,Mortality rate from unintentional poisoning (p...,Afghanistan,Male,1.21,"Rate (per 100,000 population)",Global Health Observatory
2,ARG,BEEF,KG_CAP,2000,45.282,Mortality rate from unintentional poisoning (p...,Afghanistan,Male,1.21,"Rate (per 100,000 population)",Global Health Observatory
3,ARG,BEEF,KG_CAP,2000,45.282,Mortality rate from unintentional poisoning (p...,Afghanistan,Male,1.21,"Rate (per 100,000 population)",Global Health Observatory
4,ARG,BEEF,KG_CAP,2000,45.282,Mortality rate from unintentional poisoning (p...,Afghanistan,Male,1.21,"Rate (per 100,000 population)",Global Health Observatory
...,...,...,...,...,...,...,...,...,...,...,...
5340667,ZAF,SHEEP,THND_TONNE,2015,188.406,Mortality rate from unintentional poisoning (p...,Zimbabwe,Both Sexes,2.37,"Rate (per 100,000 population)",Global Health Observatory
5340668,ZAF,SHEEP,THND_TONNE,2015,188.406,Mortality rate from unintentional poisoning (p...,Zimbabwe,Both Sexes,2.37,"Rate (per 100,000 population)",Global Health Observatory
5340669,ZAF,SHEEP,THND_TONNE,2015,188.406,Mortality rate from unintentional poisoning (p...,Zimbabwe,Both Sexes,2.37,"Rate (per 100,000 population)",Global Health Observatory
5340670,ZAF,SHEEP,THND_TONNE,2015,188.406,Mortality rate from unintentional poisoning (p...,Zimbabwe,Both Sexes,2.37,"Rate (per 100,000 population)",Global Health Observatory
5340671,ZAF,SHEEP,THND_TONNE,2015,188.406,Mortality rate from unintentional poisoning (p...,Zimbabwe,Both Sexes,2.37,"Rate (per 100,000 population)",Global Health Observatory