In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import scipy.stats as st

In [2]:
csv_path = 'Resources/meatconsumption.csv'
meat_df = pd.read_csv(csv_path)
meat_df.head()

  LOCATION    INDICATOR SUBJECT MEASURE FREQUENCY  TIME   Value  Flag Codes
0      AUS  MEATCONSUMP    BEEF  KG_CAP         A  1990   0.000         NaN
1      AUS  MEATCONSUMP    BEEF  KG_CAP         A  1991  27.942         NaN
2      AUS  MEATCONSUMP    BEEF  KG_CAP         A  1992  26.405         NaN
3      AUS  MEATCONSUMP    BEEF  KG_CAP         A  1993  26.370         NaN
4      AUS  MEATCONSUMP    BEEF  KG_CAP         A  1994  25.662         NaN

In [3]:
csv_path = 'Resources/MortalityByUnintentionalPoisoning.csv'
mortality_df = pd.read_csv(csv_path)
mortality_df.head()

,Indicator,Year,Geography,Sex,AgeGroup,Location,Value,Unit,Source,DataType
0,Mortality rate from unintentional poisoning (p...,2000,Afghanistan,Male,Not Available,Not Available,1.21,"Rate (per 100,000 population)",Global Health Observatory,NaN
1,Mortality rate from unintentional poisoning (p...,2000,Afghanistan,Male,Not Available,Not Available,1.21,"Rate (per 100,000 population)",Global Health Observatory,NaN
2,Mortality rate from unintentional poisoning (p...,2000,Afghanistan,Male,Not Available,Not Available,1.21,"Rate (per 100,000 population)",Global Health Observatory,NaN
3,Mortality rate from unintentional poisoning (p...,2000,Afghanistan,Male,Not Available,Not Available,1.21,"Rate (per 100,000 population)",Global Health Observatory,NaN
4,Mortality rate from unintentional poisoning (p...,2000,Afghanistan,Male,Not Available,Not Available,1.21,"Rate (per 100,000 population)",Global Health Observatory,NaN

In [4]:
oecd_cc_csv_path = 'Resources/OECDCountryCodes.csv'
cc_df = pd.read_csv(oecd_cc_csv_path).set_index('CODE')
cc_dict = cc_df.to_dict()['Country']
cc_dict

{'ABW': 'Aruba',
 'AFG': 'Afghanistan',
 'AFRI': 'Africa',
 'AGO': 'Angola',
 'AIA': 'Anguilla',
 'ALB': 'Albania',
 'AND': 'Andorra',
 'ANT': 'Netherlands Antilles',
 'ARE': 'United Arab Emirates',
 'ARG': 'Argentina',
 'ASIA': 'Asia',
 'ASM': 'American Samoa',
 'ATG': 'Antigua and Barbuda',
 'AUS': 'Australia',
 'AUT': 'Austria',
 'BDI': 'Burundi',
 'BEL': 'Belgium',
 'BEN': 'Benin',
 'BFA': 'Burkina Faso',
 'BGD': 'Bangladesh',
 'BGR': 'Bulgaria',
 'BHR': 'Bahrain',
 'BHS': 'Bahamas',
 'BLZ': 'Belize',
 'BMU': 'Bermuda',
 'BOL': 'Bolivia',
 'BRA': 'Brazil',
 'BRB': 'Barbados',
 'BRN': 'Brunei Darussalam',
 'BTN': 'Bhutan',
 'BWA': 'Botswana',
 'CAF': 'Central African Republic',
 'CAN': 'Canada',
 'CCK': 'Cocos (Keeling) Islands',
 'CHE': 'Switzerland',
 'CHL': 'Chile',
 'CHN': 'China',
 'CIV': "Côte d'Ivoire",
 'CMR': 'Cameroon',
 'COD': 'Congo, Dem. Rep. Of',
 'COG': 'Congo',
 'COK': 'Cook Islands',
 'COL': 'Colombia',
 'COM': 'Comoros',
 'CPV': 'Cape Verde',
 'CRI': 'Costa Rica',
 'CSFR': 'Former Czechoslovakia',
 'CSFR-CZE': 'Czech Republic',
 'CSFR-SVK': 'Slovak Republic',
 'CUB': 'Cuba',
 'CYM': 'Cayman Islands',
 'CYP': 'Cyprus',
 'DEU': 'Germany',
 'DJI': 'Djibouti',
 'DMA': 'Dominica',
 'DNK': 'Denmark',
 'DOM': 'Dominican Republic',
 'DZA': 'Algeria',
 'ECU': 'Ecuador',
 'EGY': 'Egypt',
 'ERI': 'Eritrea',
 'ESH': 'Western Sahara',
 'ESP': 'Spain',
 'ETH': 'Ethiopia',
 'EURO': 'Europe',
 'FIN': 'Finland',
 'FJI': 'Fiji',
 'FLK': 'Falkland Islands',
 'FRA': 'France',
 'FSM': 'Micronesia, Federated states of',
 'FYUG': 'Former Yugoslavia',
 'FYUG-BIH': 'Bosnia-Herzegovina',
 'FYUG-HRV': 'Croatia',
 'FYUG-MKD': 'Macedonia',
 'FYUG-SVN': 'Slovenia',
 'FYUG-YUG': 'Serbia and Montenegro',
 'GAB': 'Gabon',
 'GBR': 'United Kingdom',
 'GHA': 'Ghana',
 'GIB': 'Gibraltar',
 'GIN': 'Guinea',
 'GMB': 'Gambia',
 'GNB': 'Guinea-Bissau',
 'GNQ': 'Equatorial Guinea',
 'GRC': 'Greece',
 'GRD': 'Grenada',
 'GTM': 'Guatemala',
 'GUM': 'Guam',
 'GUY': 'Guyana',
 'HKG': 'Hong Kong',
 'HND': 'Honduras',
 'HTI': 'Haiti',
 'HUN': 'Hungary',
 'IDN': 'Indonesia',
 'IND': 'India',
 'IOT': 'British Indian Ocean Territory',
 'IRL': 'Ireland',
 'IRN': 'Iran',
 'IRQ': 'Iraq',
 'ISL': 'Iceland',
 'ISR': 'Israel',
 'ITA': 'Italy',
 'JAM': 'Jamaica',
 'JOR': 'Jordan',
 'JPN': 'Japan',
 'KEN': 'Kenya',
 'KHM': 'Cambodia',
 'KIR': 'Kiribati',
 'KNA': 'Saint Kitts and Nevis',
 'KOREA-NO': 'North Korea',
 'KOREA-NS': 'South Korea',
 'KOREA-SO': 'North and South Korea',
 'KWT': 'Kuwait',
 'LAO': 'Laos',
 'LBN': 'Lebanon',
 'LBR': 'Liberia',
 'LBY': 'Libya',
 'LCA': 'Saint Lucia',
 'LIE': 'Liechtenstein',
 'LKA': 'Sri Lanka',
 'LSO': 'Lesotho',
 'LUX': 'Luxembourg',
 'MAC': 'Macau',
 'MAR': 'Morocco',
 'MCO': 'Monaco',
 'MDG': 'Madagascar',
 'MDV': 'Maldives',
 'MEX': 'Mexico',
 'MHL': 'Marshall Islands',
 'MLI': 'Mali',
 'MLT': 'Malta',
 'MMR': 'Myanmar',
 'MNG': 'Mongolia',
 'MNP': 'Northern Mariana Islands',
 'MOZ': 'Mozambique',
 'MRT': 'Mauritania',
 'MSR': 'Montserrat',
 'MUS': 'Mauritius',
 'MWI': 'Malawi',
 'MYS': 'Malaysia',
 'NAM': 'Namibia',
 'NER': 'Niger',
 'NFK': 'Norfolk Islands',
 'NGA': 'Nigeria',
 'NIC': 'Nicaragua',
 'NIU': 'Niue',
 'NLD': 'Netherlands',
 'NOAM': 'North America',
 'NOR': 'Norway',
 'NPL': 'Nepal',
 'NRU': 'Nauru',
 'NZL': 'New Zealand',
 'OCEA': 'Oceania',
 'OMN': 'Oman',
 'OTH': 'Other',
 'PAK': 'Pakistan',
 'PAN': 'Panama',
 'PCN': 'Pitcairn',
 'PER': 'Peru',
 'PHL': 'Philippines',
 'PLW': 'Pacific Islands (Palau)',
 'PNG': 'Papua New Guinea',
 'POL': 'Poland',
 'PRI': 'Puerto Rico',
 'PRT': 'Portugal',
 'PRY': 'Paraguay',
 'PSE': 'Occupied Palestinian Territory',
 'QAT': 'Qatar',
 'ROU': 'Romania',
 'RWA': 'Rwanda',
 'SAU': 'Saudi Arabia',
 'SCAC': 'South and Central America',
 'SDN': 'Sudan',
 'SEN': 'Senegal',
 'SGP': 'Singapore',
 'SHN': 'Saint Helena',
 'SJM': 'Svalbard and Jan Mayen Islands',
 'SLB': 'Solomon Islands',
 'SLE': 'Sierra Leone',
 'SLV': 'El Salvador',
 'SMR': 'San Marino',
 'SOM': 'Somalia',
 'STP': 'Sao Tome and Principe',
 'SUR': 'Suriname',
 'SWE': 'Sweden',
 'SWZ': 'Swaziland',
 'SYC': 'Seychelles',
 'SYR': 'Syria',
 'TCA': 'Turks and Caicos Islands',
 'TCD': 'Chad',
 'TGO': 'Togo',
 'THA': 'Thailand',
 'TKL': 'Tokelau',
 'TLS': 'Timor-Leste',
 'TMP': 'East Timor',
 'TON': 'Tonga',
 'TTO': 'Trinidad and Tobago',
 'TUN': 'Tunisia',
 'TUR': 'Turkey',
 'TUV': 'Tuvalu',
 'TWN': 'Chinese Taipei',
 'TZA': 'United Republic of Tanzania',
 'UGA': 'Unknown',
 'UNK': 'Unknown',
 'URY': 'Uruguay',
 'USA': 'United States',
 'USSR': 'Former USSR',
 'USSR-ARM': 'Armenia',
 'USSR-AZE': 'Azerbaidjan',
 'USSR-BLR': 'Belarus',
 'USSR-EST': 'Estonia',
 'USSR-GEO': 'Georgia',
 'USSR-KAZ': 'Kazakhstan',
 'USSR-KGZ': 'Kirghizistan',
 'USSR-LTU': 'Lithuania',
 'USSR-LVA': 'Latvia',
 'USSR-MDA': 'Moldova',
 'USSR-RUS': 'Russia',
 'USSR-TJK': 'Tadjikistan',
 'USSR-TKM': 'Turkménistan',
 'USSR-UKR': 'Ukraine',
 'USSR-UZB': 'Uzbekistan',
 nan: nan,
 'VCT': 'Saint Vincent and the Grenadines',
 'VEN': 'Venezuela',
 'VGB': 'British Virgin Islands',
 'VIR': 'United States Virgin Islands',
 'VNM': 'Vietnam',
 'VUT': 'Vanuatu',
 'WSM': 'Samoa',
 'YEM': 'Yemen',
 'ZAF': 'South Africa',
 'ZMB': 'Zambia',
 'ZWE': 'Zimbabwe'}

In [5]:
print(meat_df.count())

LOCATION      12160
INDICATOR     12160
SUBJECT       12160
MEASURE       12160
FREQUENCY     12160
TIME          12160
Value         12160
Flag Codes        0
dtype: int64

In [6]:
meat_df.sort_values(by=['LOCATION','SUBJECT','TIME'])

,LOCATION,INDICATOR,SUBJECT,MEASURE,FREQUENCY,TIME,Value,Flag Codes
1280,ARG,MEATCONSUMP,BEEF,KG_CAP,A,1990,55.559,NaN
7920,ARG,MEATCONSUMP,BEEF,THND_TONNE,A,1990,2588.922,NaN
1281,ARG,MEATCONSUMP,BEEF,KG_CAP,A,1991,51.817,NaN
7921,ARG,MEATCONSUMP,BEEF,THND_TONNE,A,1991,2448.667,NaN
1282,ARG,MEATCONSUMP,BEEF,KG_CAP,A,1992,50.980,NaN
...,...,...,...,...,...,...,...,...
5677,ZAF,MEATCONSUMP,SHEEP,THND_TONNE,A,2027,182.702,NaN
4638,ZAF,MEATCONSUMP,SHEEP,KG_CAP,A,2028,2.554,NaN
5678,ZAF,MEATCONSUMP,SHEEP,THND_TONNE,A,2028,184.100,NaN
4639,ZAF,MEATCONSUMP,SHEEP,KG_CAP,A,2029,2.553,NaN
5679,ZAF,MEATCONSUMP,SHEEP,THND_TONNE,A,2029,185.526,NaN

In [7]:
meat_df = meat_df.sort_values(by=['LOCATION','SUBJECT','TIME'])
meat_df

,LOCATION,INDICATOR,SUBJECT,MEASURE,FREQUENCY,TIME,Value,Flag Codes
1280,ARG,MEATCONSUMP,BEEF,KG_CAP,A,1990,55.559,NaN
7920,ARG,MEATCONSUMP,BEEF,THND_TONNE,A,1990,2588.922,NaN
1281,ARG,MEATCONSUMP,BEEF,KG_CAP,A,1991,51.817,NaN
7921,ARG,MEATCONSUMP,BEEF,THND_TONNE,A,1991,2448.667,NaN
1282,ARG,MEATCONSUMP,BEEF,KG_CAP,A,1992,50.980,NaN
...,...,...,...,...,...,...,...,...
5677,ZAF,MEATCONSUMP,SHEEP,THND_TONNE,A,2027,182.702,NaN
4638,ZAF,MEATCONSUMP,SHEEP,KG_CAP,A,2028,2.554,NaN
5678,ZAF,MEATCONSUMP,SHEEP,THND_TONNE,A,2028,184.100,NaN
4639,ZAF,MEATCONSUMP,SHEEP,KG_CAP,A,2029,2.553,NaN
5679,ZAF,MEATCONSUMP,SHEEP,THND_TONNE,A,2029,185.526,NaN

In [8]:
meat_df.drop(['INDICATOR','Flag Codes','FREQUENCY'], axis=1)

     LOCATION SUBJECT     MEASURE  TIME     Value
1280      ARG    BEEF      KG_CAP  1990    55.559
7920      ARG    BEEF  THND_TONNE  1990  2588.922
1281      ARG    BEEF      KG_CAP  1991    51.817
7921      ARG    BEEF  THND_TONNE  1991  2448.667
1282      ARG    BEEF      KG_CAP  1992    50.980
...       ...     ...         ...   ...       ...
5677      ZAF   SHEEP  THND_TONNE  2027   182.702
4638      ZAF   SHEEP      KG_CAP  2028     2.554
5678      ZAF   SHEEP  THND_TONNE  2028   184.100
4639      ZAF   SHEEP      KG_CAP  2029     2.553
5679      ZAF   SHEEP  THND_TONNE  2029   185.526

[12160 rows x 5 columns]

In [9]:

meat_df=meat_df.drop(['INDICATOR','Flag Codes','FREQUENCY'], axis=1)

In [10]:
meat_df

     LOCATION SUBJECT     MEASURE  TIME     Value
1280      ARG    BEEF      KG_CAP  1990    55.559
7920      ARG    BEEF  THND_TONNE  1990  2588.922
1281      ARG    BEEF      KG_CAP  1991    51.817
7921      ARG    BEEF  THND_TONNE  1991  2448.667
1282      ARG    BEEF      KG_CAP  1992    50.980
...       ...     ...         ...   ...       ...
5677      ZAF   SHEEP  THND_TONNE  2027   182.702
4638      ZAF   SHEEP      KG_CAP  2028     2.554
5678      ZAF   SHEEP  THND_TONNE  2028   184.100
4639      ZAF   SHEEP      KG_CAP  2029     2.553
5679      ZAF   SHEEP  THND_TONNE  2029   185.526

[12160 rows x 5 columns]

In [11]:
meat_df = meat_df.rename(columns={"TIME":"Year"})

In [12]:
meat_df = meat_df[meat_df['MEASURE'] != 'THND_TONNE']
meat_df.head(1)

     LOCATION SUBJECT MEASURE  Year   Value
1280      ARG    BEEF  KG_CAP  1990  55.559

In [13]:
meat_df['LOCATION'].replace(cc_dict, inplace = True)

In [14]:
meat_df

          LOCATION SUBJECT MEASURE  Year   Value
1280     Argentina    BEEF  KG_CAP  1990  55.559
1281     Argentina    BEEF  KG_CAP  1991  51.817
1282     Argentina    BEEF  KG_CAP  1992  50.980
1283     Argentina    BEEF  KG_CAP  1993  51.678
1284     Argentina    BEEF  KG_CAP  1994  48.594
...            ...     ...     ...   ...     ...
4635  South Africa   SHEEP  KG_CAP  2025   2.562
4636  South Africa   SHEEP  KG_CAP  2026   2.559
4637  South Africa   SHEEP  KG_CAP  2027   2.556
4638  South Africa   SHEEP  KG_CAP  2028   2.554
4639  South Africa   SHEEP  KG_CAP  2029   2.553

[6080 rows x 5 columns]

In [15]:
meat_df = meat_df.rename(columns={"LOCATION":"Geography"})
meat_df

         Geography SUBJECT MEASURE  Year   Value
1280     Argentina    BEEF  KG_CAP  1990  55.559
1281     Argentina    BEEF  KG_CAP  1991  51.817
1282     Argentina    BEEF  KG_CAP  1992  50.980
1283     Argentina    BEEF  KG_CAP  1993  51.678
1284     Argentina    BEEF  KG_CAP  1994  48.594
...            ...     ...     ...   ...     ...
4635  South Africa   SHEEP  KG_CAP  2025   2.562
4636  South Africa   SHEEP  KG_CAP  2026   2.559
4637  South Africa   SHEEP  KG_CAP  2027   2.556
4638  South Africa   SHEEP  KG_CAP  2028   2.554
4639  South Africa   SHEEP  KG_CAP  2029   2.553

[6080 rows x 5 columns]

In [16]:
print(mortality_df.count())

Indicator    17568
Year         17568
Geography    17568
Sex          17568
AgeGroup     17568
Location     17568
Value        17568
Unit         17568
Source       17568
DataType         0
dtype: int64

In [17]:
mortality_df.sort_values(by=['Geography','Year'])

,Indicator,Year,Geography,Sex,AgeGroup,Location,Value,Unit,Source,DataType
0,Mortality rate from unintentional poisoning (p...,2000,Afghanistan,Male,Not Available,Not Available,1.21,"Rate (per 100,000 population)",Global Health Observatory,NaN
1,Mortality rate from unintentional poisoning (p...,2000,Afghanistan,Male,Not Available,Not Available,1.21,"Rate (per 100,000 population)",Global Health Observatory,NaN
2,Mortality rate from unintentional poisoning (p...,2000,Afghanistan,Male,Not Available,Not Available,1.21,"Rate (per 100,000 population)",Global Health Observatory,NaN
3,Mortality rate from unintentional poisoning (p...,2000,Afghanistan,Male,Not Available,Not Available,1.21,"Rate (per 100,000 population)",Global Health Observatory,NaN
4,Mortality rate from unintentional poisoning (p...,2000,Afghanistan,Male,Not Available,Not Available,1.21,"Rate (per 100,000 population)",Global Health Observatory,NaN
...,...,...,...,...,...,...,...,...,...,...
17563,Mortality rate from unintentional poisoning (p...,2015,Zimbabwe,Both Sexes,Not Available,Not Available,2.37,"Rate (per 100,000 population)",Global Health Observatory,NaN
17564,Mortality rate from unintentional poisoning (p...,2015,Zimbabwe,Both Sexes,Not Available,Not Available,2.37,"Rate (per 100,000 population)",Global Health Observatory,NaN
17565,Mortality rate from unintentional poisoning (p...,2015,Zimbabwe,Both Sexes,Not Available,Not Available,2.37,"Rate (per 100,000 population)",Global Health Observatory,NaN
17566,Mortality rate from unintentional poisoning (p...,2015,Zimbabwe,Both Sexes,Not Available,Not Available,2.37,"Rate (per 100,000 population)",Global Health Observatory,NaN
17567,Mortality rate from unintentional poisoning (p...,2015,Zimbabwe,Both Sexes,Not Available,Not Available,2.37,"Rate (per 100,000 population)",Global Health Observatory,NaN

In [18]:
mortality_df=mortality_df.drop(['AgeGroup','Location','DataType'], axis=1)

In [19]:
mortality_df

,Indicator,Year,Geography,Sex,Value,Unit,Source
0,Mortality rate from unintentional poisoning (p...,2000,Afghanistan,Male,1.21,"Rate (per 100,000 population)",Global Health Observatory
1,Mortality rate from unintentional poisoning (p...,2000,Afghanistan,Male,1.21,"Rate (per 100,000 population)",Global Health Observatory
2,Mortality rate from unintentional poisoning (p...,2000,Afghanistan,Male,1.21,"Rate (per 100,000 population)",Global Health Observatory
3,Mortality rate from unintentional poisoning (p...,2000,Afghanistan,Male,1.21,"Rate (per 100,000 population)",Global Health Observatory
4,Mortality rate from unintentional poisoning (p...,2000,Afghanistan,Male,1.21,"Rate (per 100,000 population)",Global Health Observatory
...,...,...,...,...,...,...,...
17563,Mortality rate from unintentional poisoning (p...,2015,Zimbabwe,Both Sexes,2.37,"Rate (per 100,000 population)",Global Health Observatory
17564,Mortality rate from unintentional poisoning (p...,2015,Zimbabwe,Both Sexes,2.37,"Rate (per 100,000 population)",Global Health Observatory
17565,Mortality rate from unintentional poisoning (p...,2015,Zimbabwe,Both Sexes,2.37,"Rate (per 100,000 population)",Global Health Observatory
17566,Mortality rate from unintentional poisoning (p...,2015,Zimbabwe,Both Sexes,2.37,"Rate (per 100,000 population)",Global Health Observatory
17567,Mortality rate from unintentional poisoning (p...,2015,Zimbabwe,Both Sexes,2.37,"Rate (per 100,000 population)",Global Health Observatory

In [20]:
merge_df = pd.merge(mortality_df, meat_df, on= ['Year','Geography'], how ="inner")

In [21]:
merge_df

,Indicator,Year,Geography,Sex,Value_x,Unit,Source,SUBJECT,MEASURE,Value_y
0,Mortality rate from unintentional poisoning (p...,2000,Argentina,Female,0.65,"Rate (per 100,000 population)",Global Health Observatory,BEEF,KG_CAP,45.282
1,Mortality rate from unintentional poisoning (p...,2000,Argentina,Female,0.65,"Rate (per 100,000 population)",Global Health Observatory,PIG,KG_CAP,5.989
2,Mortality rate from unintentional poisoning (p...,2000,Argentina,Female,0.65,"Rate (per 100,000 population)",Global Health Observatory,POULTRY,KG_CAP,22.902
3,Mortality rate from unintentional poisoning (p...,2000,Argentina,Female,0.65,"Rate (per 100,000 population)",Global Health Observatory,SHEEP,KG_CAP,1.412
4,Mortality rate from unintentional poisoning (p...,2000,Argentina,Female,0.65,"Rate (per 100,000 population)",Global Health Observatory,BEEF,KG_CAP,45.282
...,...,...,...,...,...,...,...,...,...,...
10363,Mortality rate from unintentional poisoning (p...,2015,Turkey,Female,0.23,"Rate (per 100,000 population)",Global Health Observatory,SHEEP,KG_CAP,4.554
10364,Mortality rate from unintentional poisoning (p...,2015,Turkey,Female,0.23,"Rate (per 100,000 population)",Global Health Observatory,BEEF,KG_CAP,9.217
10365,Mortality rate from unintentional poisoning (p...,2015,Turkey,Female,0.23,"Rate (per 100,000 population)",Global Health Observatory,PIG,KG_CAP,0.000
10366,Mortality rate from unintentional poisoning (p...,2015,Turkey,Female,0.23,"Rate (per 100,000 population)",Global Health Observatory,POULTRY,KG_CAP,18.207
10367,Mortality rate from unintentional poisoning (p...,2015,Turkey,Female,0.23,"Rate (per 100,000 population)",Global Health Observatory,SHEEP,KG_CAP,4.554

In [22]:
merge_df = merge_df.drop(['Source'], axis=1)

In [23]:
merge_df

,Indicator,Year,Geography,Sex,Value_x,Unit,SUBJECT,MEASURE,Value_y
0,Mortality rate from unintentional poisoning (p...,2000,Argentina,Female,0.65,"Rate (per 100,000 population)",BEEF,KG_CAP,45.282
1,Mortality rate from unintentional poisoning (p...,2000,Argentina,Female,0.65,"Rate (per 100,000 population)",PIG,KG_CAP,5.989
2,Mortality rate from unintentional poisoning (p...,2000,Argentina,Female,0.65,"Rate (per 100,000 population)",POULTRY,KG_CAP,22.902
3,Mortality rate from unintentional poisoning (p...,2000,Argentina,Female,0.65,"Rate (per 100,000 population)",SHEEP,KG_CAP,1.412
4,Mortality rate from unintentional poisoning (p...,2000,Argentina,Female,0.65,"Rate (per 100,000 population)",BEEF,KG_CAP,45.282
...,...,...,...,...,...,...,...,...,...
10363,Mortality rate from unintentional poisoning (p...,2015,Turkey,Female,0.23,"Rate (per 100,000 population)",SHEEP,KG_CAP,4.554
10364,Mortality rate from unintentional poisoning (p...,2015,Turkey,Female,0.23,"Rate (per 100,000 population)",BEEF,KG_CAP,9.217
10365,Mortality rate from unintentional poisoning (p...,2015,Turkey,Female,0.23,"Rate (per 100,000 population)",PIG,KG_CAP,0.000
10366,Mortality rate from unintentional poisoning (p...,2015,Turkey,Female,0.23,"Rate (per 100,000 population)",POULTRY,KG_CAP,18.207
10367,Mortality rate from unintentional poisoning (p...,2015,Turkey,Female,0.23,"Rate (per 100,000 population)",SHEEP,KG_CAP,4.554