# Import dependencies

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import scipy.stats as st

# Load data

## From OECD Meat consumption per capita by country

In [51]:
meat_csv_path = 'Resources/meatconsumption.csv'
meat_df = pd.read_csv(meat_csv_path)
meat_df.columns = meat_df.columns.map(str.lower).map(str.capitalize)
meat_df.head(1)

  Location    Indicator Subject Measure Frequency  Time  Value  Flag codes
0      AUS  MEATCONSUMP    BEEF  KG_CAP         A  1990    0.0         NaN

### Make dictionary of OECD Country codes definitions

In [32]:
oecd_cc_csv_path = 'Resources/OECDCountryCodes.csv'
cc_df = pd.read_csv(oecd_cc_csv_path).set_index('code')
cc_dict = cc_df.to_dict()['country']
cc_dict

{'USA': 'America', 'AUS': 'Australia'}

## From CDC Mortality indicators by Unintentional Poisoning

In [20]:
mortalitiy_csv_path = 'Resources/MortalityByUnintentionalPoisoning.csv'
mortality_df = pd.read_csv(mortalitiy_csv_path)
mortality_df.head(1)

,Indicator,Year,Geography,Sex,AgeGroup,Location,Value,Unit,Source,DataType
0,Mortality rate from unintentional poisoning (p...,2000,Afghanistan,Male,Not Available,Not Available,1.21,"Rate (per 100,000 population)",Global Health Observatory,NaN

# Transform and Merge Dataframes

In [ ]:
meat_df
mortality_df
cc_dict

## Trim extraneous columns

In [56]:
meat_df = meat_df[meat_df['Measure'] != 'THND_TONNE']
meat_df.drop(['Indicator','Flag codes','Frequency'], axis=1, inplace = True)
meat_df.head(1)

  Location Subject Measure  Time  Value
0      AUS    BEEF  KG_CAP  1990    0.0

In [ ]:
# Move Mortality Trimming here

## Rename columns to align Dataframes

### Align values of Countrys and Country Codes

In [57]:
meat_df['Location'].replace(cc_dict, inplace = True)

## Merge Dataframes to make Complete Dataset

In [9]:
meat_df = meat_df.rename(columns={"TIME":"Year"})

In [14]:
mortality_df=mortality_df.drop(['AgeGroup','Location','DataType'], axis=1)

In [16]:
mortality_df = mortality_df.rename(columns={"Geography":"LOCATION"})

In [18]:
merge_df = pd.merge(meat_df, mortality_df, on= ['Year','LOCATION'], how ="outer")