In [9]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import scipy.stats as st

In [10]:
csv_path = 'Resources/meatconsumption.csv'
meat_df = pd.read_csv(csv_path)
meat_df.head()

  LOCATION    INDICATOR SUBJECT MEASURE FREQUENCY  TIME   Value  Flag Codes
0      AUS  MEATCONSUMP    BEEF  KG_CAP         A  1990   0.000         NaN
1      AUS  MEATCONSUMP    BEEF  KG_CAP         A  1991  27.942         NaN
2      AUS  MEATCONSUMP    BEEF  KG_CAP         A  1992  26.405         NaN
3      AUS  MEATCONSUMP    BEEF  KG_CAP         A  1993  26.370         NaN
4      AUS  MEATCONSUMP    BEEF  KG_CAP         A  1994  25.662         NaN

In [12]:
print(meat_df.count())

LOCATION      12160
INDICATOR     12160
SUBJECT       12160
MEASURE       12160
FREQUENCY     12160
TIME          12160
Value         12160
Flag Codes        0
dtype: int64

In [18]:
usa_df = meat_df 
usa_df

,LOCATION,INDICATOR,SUBJECT,MEASURE,FREQUENCY,TIME,Value,Flag Codes
0,AUS,MEATCONSUMP,BEEF,KG_CAP,A,1990,0.000,NaN
1,AUS,MEATCONSUMP,BEEF,KG_CAP,A,1991,27.942,NaN
2,AUS,MEATCONSUMP,BEEF,KG_CAP,A,1992,26.405,NaN
3,AUS,MEATCONSUMP,BEEF,KG_CAP,A,1993,26.370,NaN
4,AUS,MEATCONSUMP,BEEF,KG_CAP,A,1994,25.662,NaN
...,...,...,...,...,...,...,...,...
12155,GBR,MEATCONSUMP,SHEEP,KG_CAP,A,2025,3.861,NaN
12156,GBR,MEATCONSUMP,SHEEP,KG_CAP,A,2026,3.847,NaN
12157,GBR,MEATCONSUMP,SHEEP,KG_CAP,A,2027,3.836,NaN
12158,GBR,MEATCONSUMP,SHEEP,KG_CAP,A,2028,3.826,NaN
12159,GBR,MEATCONSUMP,SHEEP,KG_CAP,A,2029,3.814,NaN

In [20]:
usa_df.loc[usa_df['LOCATION']=='USA']

,LOCATION,INDICATOR,SUBJECT,MEASURE,FREQUENCY,TIME,Value,Flag Codes
1120,USA,MEATCONSUMP,BEEF,KG_CAP,A,1990,30.673,NaN
1121,USA,MEATCONSUMP,BEEF,KG_CAP,A,1991,30.460,NaN
1122,USA,MEATCONSUMP,BEEF,KG_CAP,A,1992,30.359,NaN
1123,USA,MEATCONSUMP,BEEF,KG_CAP,A,1993,29.718,NaN
1124,USA,MEATCONSUMP,BEEF,KG_CAP,A,1994,30.772,NaN
...,...,...,...,...,...,...,...,...
7995,USA,MEATCONSUMP,POULTRY,THND_TONNE,A,2025,19691.512,NaN
7996,USA,MEATCONSUMP,POULTRY,THND_TONNE,A,2026,19797.082,NaN
7997,USA,MEATCONSUMP,POULTRY,THND_TONNE,A,2027,19900.415,NaN
7998,USA,MEATCONSUMP,POULTRY,THND_TONNE,A,2028,20007.565,NaN
7999,USA,MEATCONSUMP,POULTRY,THND_TONNE,A,2029,20109.668,NaN

In [22]:
meat_df.sort_values(by=['LOCATION','SUBJECT','TIME'])

,LOCATION,INDICATOR,SUBJECT,MEASURE,FREQUENCY,TIME,Value,Flag Codes
1280,ARG,MEATCONSUMP,BEEF,KG_CAP,A,1990,55.559,NaN
7920,ARG,MEATCONSUMP,BEEF,THND_TONNE,A,1990,2588.922,NaN
1281,ARG,MEATCONSUMP,BEEF,KG_CAP,A,1991,51.817,NaN
7921,ARG,MEATCONSUMP,BEEF,THND_TONNE,A,1991,2448.667,NaN
1282,ARG,MEATCONSUMP,BEEF,KG_CAP,A,1992,50.980,NaN
...,...,...,...,...,...,...,...,...
5677,ZAF,MEATCONSUMP,SHEEP,THND_TONNE,A,2027,182.702,NaN
4638,ZAF,MEATCONSUMP,SHEEP,KG_CAP,A,2028,2.554,NaN
5678,ZAF,MEATCONSUMP,SHEEP,THND_TONNE,A,2028,184.100,NaN
4639,ZAF,MEATCONSUMP,SHEEP,KG_CAP,A,2029,2.553,NaN
5679,ZAF,MEATCONSUMP,SHEEP,THND_TONNE,A,2029,185.526,NaN

In [24]:
meat_df = meat_df.sort_values(by=['LOCATION','SUBJECT','TIME'])
meat_df

,LOCATION,INDICATOR,SUBJECT,MEASURE,FREQUENCY,TIME,Value,Flag Codes
1280,ARG,MEATCONSUMP,BEEF,KG_CAP,A,1990,55.559,NaN
7920,ARG,MEATCONSUMP,BEEF,THND_TONNE,A,1990,2588.922,NaN
1281,ARG,MEATCONSUMP,BEEF,KG_CAP,A,1991,51.817,NaN
7921,ARG,MEATCONSUMP,BEEF,THND_TONNE,A,1991,2448.667,NaN
1282,ARG,MEATCONSUMP,BEEF,KG_CAP,A,1992,50.980,NaN
...,...,...,...,...,...,...,...,...
5677,ZAF,MEATCONSUMP,SHEEP,THND_TONNE,A,2027,182.702,NaN
4638,ZAF,MEATCONSUMP,SHEEP,KG_CAP,A,2028,2.554,NaN
5678,ZAF,MEATCONSUMP,SHEEP,THND_TONNE,A,2028,184.100,NaN
4639,ZAF,MEATCONSUMP,SHEEP,KG_CAP,A,2029,2.553,NaN
5679,ZAF,MEATCONSUMP,SHEEP,THND_TONNE,A,2029,185.526,NaN

In [28]:
meat_df.drop(['INDICATOR','Flag Codes','FREQUENCY'], axis=1)

     LOCATION SUBJECT     MEASURE  TIME     Value
1280      ARG    BEEF      KG_CAP  1990    55.559
7920      ARG    BEEF  THND_TONNE  1990  2588.922
1281      ARG    BEEF      KG_CAP  1991    51.817
7921      ARG    BEEF  THND_TONNE  1991  2448.667
1282      ARG    BEEF      KG_CAP  1992    50.980
...       ...     ...         ...   ...       ...
5677      ZAF   SHEEP  THND_TONNE  2027   182.702
4638      ZAF   SHEEP      KG_CAP  2028     2.554
5678      ZAF   SHEEP  THND_TONNE  2028   184.100
4639      ZAF   SHEEP      KG_CAP  2029     2.553
5679      ZAF   SHEEP  THND_TONNE  2029   185.526

[12160 rows x 5 columns]

In [31]:

meat_df

     LOCATION SUBJECT     MEASURE  TIME     Value
1280      ARG    BEEF      KG_CAP  1990    55.559
7920      ARG    BEEF  THND_TONNE  1990  2588.922
1281      ARG    BEEF      KG_CAP  1991    51.817
7921      ARG    BEEF  THND_TONNE  1991  2448.667
1282      ARG    BEEF      KG_CAP  1992    50.980
...       ...     ...         ...   ...       ...
5677      ZAF   SHEEP  THND_TONNE  2027   182.702
4638      ZAF   SHEEP      KG_CAP  2028     2.554
5678      ZAF   SHEEP  THND_TONNE  2028   184.100
4639      ZAF   SHEEP      KG_CAP  2029     2.553
5679      ZAF   SHEEP  THND_TONNE  2029   185.526

[12160 rows x 5 columns]